body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* 让container在页面垂直方向居中 */
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

/* 退出，以及用户名显示 */
.header {
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0c0c0c;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    box-sizing: border-box; /* 确保内边距不会影响整体宽度 */

}
.header p {
    margin-right: 20px;
    font-size: 18px;
    color: #f8f8f8;
    font-weight: bold;
    /* padding-right: 20px; */
}

.header img {
    height: 20px; /* 调整图标大小 */
    margin-left: 10px; /* 确保图标不会太靠近用户名 */
    cursor: pointer; /* 鼠标悬停时显示为手型 */
}

.header img:hover {
    /* 鼠标悬停时显示提示 */
    opacity: 0.7; /* 或者可以使用其他提示方式 */
}

.header img::after {
    content: "退出登录";
    position: absolute;
    display: none;
    background: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
}

.header img:hover::after {
    display: block;
    top: 25px; /* 调整提示的显示位置 */
    right: 10px; /* 确保提示不会超出屏幕 */
}


.container {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 1.5rem; /*增加padding，使内容不太靠近边缘*/
    width: 50rem;
    height: auto; /* 使container根据内容自动调整高度 */
    overflow: hidden;
    max-width: 90vw; 
    min-height: 70vh;
    background-color: #fff;
    text-align: center;
    margin-top: 100px;
}
h1 {
    margin-bottom: 20px;
}
.subtitle {
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 20px;
}
.images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}
.image-box {
    flex: 1; /* 让图像框占据同等宽度 */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px; /* 增加内边距，使图像不贴边 */
    /* 新增 */
    cursor: pointer; /* 使点击时光标变成手型 */
    transition: background-color 0.3s ease; /* 添加过渡效果 */
}
.image-box img {
    width: 100%; /* 使图像占据整个宽度 */
    height: auto;
    max-width: 400px; /* 设置图像的最大宽度 */
}
/* 被选中后，图像背景变色 */
.image-box.selected {
    background-color: #d1e7dd; /* 设置选中后的背景色 */
    /*border: 2px solid #0f5132;  可选：添加边框以更明显地显示选中状态 */
}

/* 图像中间的分割线 */
.divider {
    border-left: 2px dashed #090909;  /* 上边框为1px的虚线，颜色为深色 */
    margin: 0 20px;/* 左右外边距为20px */
    height: auto; /* 确保分隔线占据父容器的全部宽度 */
    max-width: 1200px; /* 限制最大宽度，以确保视觉效果一致 */
    align-self: stretch; /* 使分割线在父容器中占据最大高度 */
}


.checkbox-container {
    display: flex;
    justify-content: space-around;
    margin-top: -10px;
    margin-bottom: 20px;
}
.checkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.checkbox label {
    margin-top: 10px;
}
.next-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.next-button:hover {
    background-color: #45a049;
}

.next-button.disabled {  
    background-color: #888; /* 灰色不可点击状态 */  
    cursor: not-allowed;    /* 更改光标样式以表示不可点击 */
}

.image-label {
    text-align: center;
    margin-top: 5px;
}
.record {
    margin-top: 20px;
}

/* 图像索引 */
.image-index {
    position: absolute;
    top: 250px;
    left: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
}

.image-box {
    position: relative;
    cursor: pointer; /* 使点击时光标变成手型 */
}

/* 美化进度条 */
.progress-container {
    width: 80%;
    background-color: #e0e0e0;
    border-radius: 25px;
    margin: 20px auto;
    position: relative;
    height: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.progress-bar {
    height: 100%;
    width: 0%;
    background: linear-gradient(to right, #4CAF50, #81C784);
    border-radius: 25px;
    transition: width 0.3s ease;
}

.progress-text {
    position: absolute;
    right: 10px; /* 向右移动 */
    top: 50%;
    transform: translateY(-50%);
    /* top: 0; */
    /* line-height: 30px; */
    color: #0a0000;
    font-weight: bold;
    z-index: 1;
    font-size: 18px; /* 字体大小 */
    font-family: 'Helvetica Neue', 'Arial', sans-serif; /* 字体样式 */
    text-shadow: 1px 1px 2px rgba(248, 244, 244, 0.5); /* 添加文本阴影 */
}

/* 计时器 */
#timer {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

